$primary-color: rgb(31, 199, 212);

$light-background-nav: #f8f8f8;

$primary-text-color: rgb(40, 13, 95);

$background-purple-bold: rgb(69, 42, 122);

$custom-white-text: rgb(244, 238, 255);

$dark-background-nav: rgb(39, 38, 44);

$custom-purple-title: rgb(154, 106, 255);

$custom-icon-nav: rgb(184, 173, 210);

$custom-shadow-card: rgb(56, 50, 65);

$custom-icon-container-background: rgb(8, 6, 11);

$custom-title-dark: linear-gradient(166.77deg, #3b4155, #3a3045);

$custom-background-dark: linear-gradient(#434575, #66578d);

$custom-background-modal-dark: linear-gradient(
  166.77deg,
  rgb(59, 65, 85) 0%,
  rgb(58, 48, 69) 100%
);

$custom-switch-dark-background: rgb(82, 82, 82);

$success-color: #00c851;

$error-color: #ff4444;
